@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
  }
main{
    margin-bottom: 4rem;
}

body{
    background: #212121;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

header{
    display:block;
    position: relative;
    display: block;
    background: #212121;
  
margin-bottom: 5rem;
}
.navbar{
    display:block;
}
 .nav-bar{
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
    background: #21212157;
}
.navbar-nav{
    display: flex;
    align-items: center;
    margin-left: 50%;
    height: 2rem;
}
#navbar-content{
    display: flex;
    flex-direction: row-reverse;
}
.nav-item{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    list-style:none;
    font-style: normal;
    margin-right: 2rem;
}

.highlight {
    border-bottom: 4px solid #29FAF8;
  }

.nav-item .nav-link:active{
    color:#29FAF8;
    font-weight:700;
}

.nav-link{
    color:white;
    padding-right: .5rem;
padding-left: .5rem;
text-decoration: none;
}
/* .nav-link:hover{
color: #29FAF8;
} */

#lets-work{
    background-color:#29FAF8 ;
    border-radius: 3rem;
    padding: 1rem 4rem;
    
}
#lets-work:hover{
    background-color:#fff ;
    color: #29FAF8;
    
}
@media(max-width:996){
    #lets-work{
        padding: 1rem 0 1rem;
        width: 14rem;
    }
}


@media(max-width: 996px){
    #navbar-content{
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        display: flex;
    }

    .navbar-nav{
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        margin: 0;
        width: 100%;
        top:-1000px;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s ease; 
        justify-content: center;
    }
    .navbar-nav.active{
        background:#212121;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
    }
    .nav-item{
        margin-right: 0;
    }

    .nav-link{
     text-align: center;
     display: table;
     width: 100%;   
     padding: 0;
    }

    .navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
    }
    
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    

}


.waving{
    height: 50px;
    width: 50px;
}
.header-content-text-wrapper{
width: 35rem;
max-width: 100%;
margin: auto;
}
.header-content-text-wrapper h1:first-of-type{
font-family: SF Pro Display,sans-serif;
font-style: normal;
font-weight: 700;
font-size: 7.2rem;
line-height: 8.6rem;
color: #fff;
margin-bottom: 1.6rem;
}
.header-content-text-wrapper p:first-of-type{
    text-transform: uppercase;
font-family: SF Pro Display,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.6rem;
line-height: 1.9rem;
color: #fff;
margin-bottom: 1.6rem;
display: flex;
align-items: center;
}
.header-content-text-wrapper p:last-of-type{
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #fff;
    margin-bottom: 3.2rem;
}
.header-content-text-wrapper h3{
    color:#29FAF8 ;
}

.header-content{
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
@media(max-width: 1200px){
    .header-content{
        max-width: 100%;
    }
}

.intro{
    color: white;
  font-size: 30px;
  transform: translateY(20%);
 
}
.header-content-hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 7rem;
    justify-content: center;
    }

/*
about me css below
*/

#about-me {
    background-color: rgb(36, 36, 36);
}

.about-me-image{
    margin-right: 6.2rem;
}




.about-me-text-wrap{
    max-width: 30rem;
}
.about-me-resume{
    height: 50px;
    width: 250px;
    background-color:#29FAF8;
    color: white;
    justify-content: center;
    align-items: center;
    display:flex ;
    border-radius: 3rem;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-me-resume:hover{
    text-decoration:none;
    color:#29FAF8;
    border-color:#29FAF8;
    background-color: white;
}

.me-img{
    height: 500px;
   margin: auto;
    border-radius: 10%;
    margin-top: 5%;
    width: 300px;
}
.all-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

.who-I-am{
display: flex;
align-items: center;
justify-content: center;
}
.who-I-am p{
    margin-right: 1rem;
}

.who-I-am .who-i-am-bar{
    height: 3px;
    background-color: #29FAF8;
    width: 100px;
}


@media(max-width: 800px){
    .about-me-image{
        margin: auto;
    }
}
@media(max-width: 315px){
    .me-img{
        width: 100%;
    }
}


/*
My services css
*/

.my-services{
    height: 100%;
    padding: 2rem;
    margin: auto;
    
}
.my-services-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .my-services-title p{
        margin-right: 1rem;
    }
    
    .my-services-title .my-services-bar{
        height: 3px;
        background-color: #29FAF8;
        width: 100px;
    }
.service-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content:center;

}
.service-card{
    height: 300px;
    width: 300px;
    background-color: rgb(49, 49, 49);
    margin: 1rem;
    box-shadow: 0 1.6rem 2.4rem rgba(0,0,0,.25);
    border-radius: .8rem;
    padding: 1rem;
    position: relative;
    
    
}
.service-card.last-of-type {
    margin-bottom:0;
   }

.service-card:after {
    content:"";
    position:absolute;
    width:100%;
    height:1rem;
    left:0;
    border-radius:0 0 .8rem .8rem;
   bottom: 0;

   } 

   .service-card.web-development:after {
    background-color:#00aeff;
   }
   .service-card.no-code-development:after {
    background-color:#e3cf1f;
   }
   .service-card.digital-marketing:after {
    background-color:#8838b4;
   }

   .service-card:hover{
       background-color:#29FAF8 ;
       color:black;
       transition:all .05s ease;
       transform: scale(1.1);
       cursor: pointer;
       transform-origin: center;
   }
 

.service-icon{
    height: 60px;
}
/*
#no-code-service-img-wrapper{
    background-color: rgba(168, 166, 24, 0.555);
}
#digital-marketing-service-img-wrapper{
    background-color: rgba(255, 59, 239, 0.438);
}
#web-dev-service-img-wrapper{
    background-color: rgba(243, 105, 105, 0.349);
}
.service-img-wrapper{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-services-title{
    display: flex;
    align-items: center;
    
    }
.my-services-title p{
        margin-right: 1rem;
    }
    
.my-services-bar{
        height: 3px;
        background-color: #29FAF8;
        width: 100px;
}
*/


/*
My workflow css
*/

#work-flow{
 background-color: rgb(36, 36, 36);
width: 1140px;
margin: auto;
height: auto;
flex-direction: column;
display: flex;
width: auto;
}
.my-workflow-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
.my-workflow-title p{
        margin-right: 1rem;
    }
    
.my-workflow-bar{
        height: 3px;
        background-color: #29FAF8;
        width: 100px;
}

.work-flow-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-flow-card{
    width: 15rem;
    background-color: rgb(49, 49, 49);
    margin: 2rem;
    box-shadow: 0 1.6rem 2.4rem rgba(0,0,0,.25);
    border-radius: .8rem;
    padding: 1rem;
    position: relative;
}
.workflow-icon{
    height: 60px;
}

.work-flow-card:after {
    content:"";
    position:absolute;
    width:100%;
    height:1rem;
    left:0;
    border-radius:0 0 .8rem .8rem;
   bottom: 0;

   } 

   .work-flow-card.discover:after {
    background-color:#00aeff;
   }
   .work-flow-card.define:after {
    background-color:#e3cf1f;
   }
   .work-flow-card.ideate:after {
    background-color:#f55454;
   }
   .work-flow-card.prototype:after {
    background-color:#8838b4;
   }
   .work-flow-card.implament:after {
    background-color:#00aeff;
   }
   

   .work-flow-card:hover{
       background-color:#29FAF8 ;
       color:black;
       transition:all .05s ease-in-out;
       transform: scale(1.1);
       cursor: pointer;
       transform-origin: center;
   }


/*
My projects
*/

#portfolio{
margin: 5rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-wrap: inherit;
flex-direction: column;
}
.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1140px;
    margin: auto;
    
}

.project-container{
    margin: 1rem;
    background-color: rgb(49, 49, 49);
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 5px;
    transition: all 1s ease;
    height: 30rem;
    flex-wrap: wrap;
}

.my-project-title{
    display: flex;
    align-items: center;
    justify-content: center;
    }
.my-project-title p{
        margin-right: 1rem;
    }
    
.my-project-bar{
        height: 3px;
        background-color: #29FAF8;
        width: 100px;
}

/*
contact info

*/
#contact{
    margin: auto;  
    background-color: rgb(36, 36, 36);
}
.contact-form input{
    margin-bottom: 1rem;
}

.contact-wrapper{
    display: flex;
 justify-content: space-around;
 margin: auto;
 width: 1200px;
}
.social-links{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

@media(max-width: 800px){
    .social-links{
        margin: 2rem;
    }
}

.social-links .contact-info{
display: flex  ;
margin-bottom: 4rem;
margin-right: 2rem;
}
.social-links .img-wrapper{
    background-color: #29FAF8;
    width: 60px;
    height: 60px;
    border-radius: 50%;    
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-links img{
height: 30px;
width: 30px;
}


#social-icon-img{
    height: 3rem;
    width: 3rem;
}

form{
    width: 49%;
    display: flex;
flex-wrap: wrap;
}
#name, .email,.phone-number{
    height: 3rem;
    border-radius: 2rem;
}
form .email-phone-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.email, .phone-number{
    width: 49%;
    
}
#name{
    width: 100%;
}
textarea{
width: 100%;
border-radius: 2rem;
padding: 1.5rem 1rem ;
background-color: #212121;
color:#fff;
border: .1rem solid white;

}
form input{
    padding-left: 1.5rem;
    background-color: #212121;
color:#fff;
border: .1rem solid white;
}
form input:focus, textarea:focus{
    border: .1rem solid #0ff;
    box-shadow: none;
    outline: none;
}

form button{
height: 50px;
width: 250px;
color:#fff;
 background:#29FAF8;
 border-color:#29FAF8;
justify-content: center;
align-items: center;
display: flex;
display: -webkit-box;
display: -ms-flexbox;
overflow: hidden;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
cursor: pointer;
border-radius: 3rem;
text-decoration: none;
margin-top: 2rem;
margin-bottom: 2rem;
border: none;

}

.submit-button:hover{
    text-decoration:none;
    color:#29FAF8;
    border-color:#29FAF8;
    background-color: white;
}

@media (max-width: 1200px){
    .contact-wrapper{
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}
@media (max-width: 800px){
     form{
       width: 80%;
       justify-content: center;
    }
}

/*
footer

*/
footer{
    height: 200px;
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(36, 36, 36);
    border-radius: 60% 60% 0 0;
    padding: 3rem;
}


.social-img{
    width: 40px;
    height: 40px;
}

.footer-content-wrapper{
    display: flex;
    justify-content: center; 
    align-items: center;
}

/*
IG FEED
*/


.ig-feed-image{
    margin: 1rem;
    width: 20rem;
    margin: 1rem;
    height: 30rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

#instafeed{  
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 1140px;
}
@media (max-width: 1200px){
    #instafeed{
   max-width: 100%;
}
}

@media (max-width: 345px){
    .ig-feed-image{
   max-width: 100%;
   
}
}
